.button {
  letter-spacing: 0.5px;
  color: #FFFFFF;
  display: inline-block;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  padding: 13.2px 39.5px;
  transition: all 0.2s ease 0s;
}

.button:visited {
  background: linear-gradient(55.95deg, #c73aff 0%, #aa05f7 100%);
}

.button:hover {
  background: linear-gradient(55.95deg, #d13731 0%, #c74901 100%);
}

.button:active {
  background: linear-gradient(55.95deg, #a72420 0%, #a54209 100%);
}

.link-transparent {
  border-radius: 4px;
  padding: 12.2px 38px;
  display: inline-block;
  border: 1px solid #FF3F3A;
  color: #FF3F3A;
  transition: all 0.2s ease 0s;
}

.link-transparent:hover {
  color: #bd3530;
}